<div class="updates-container">
    
    <div class="update-item">
        <p><strong>January, 2025</strong><br>
        Started new role as R&D Software Engineering Manager at Dassault Systemes, focusing on electromagnetics simulations and CMake infrastructure development
        </p>
    </div>
   
    <div class="update-item">
        <p><strong>December, 2024</strong><br>
        Completed marathon training and achieved personal best time in Frankfurt Marathon
        </p>
    </div>
   
    <div class="update-item">
        <p><strong>November, 2024</strong><br>
        Delivered keynote presentation on computational fluid dynamics at the International CFD Conference in Munich
        </p>
    </div>
   
    <div class="update-item">
        <p><strong>October, 2024</strong><br>
        Published new research paper on 'Anisotropic Mesh Adaptation for Viscoelastic Flows' in Journal of Computational Physics
        </p>
    </div>
   
    <div class="update-item">
        <p><strong>September, 2024</strong><br>
        Launched open-source CFD visualization tool on GitHub with 100+ stars in first month
        </p>
    </div>
   
    <div class="update-item">
        <p><strong>August, 2024</strong><br>
        Completed 6-month vegan nutrition certification to optimize athletic performance
        </p>
    </div>
   
    <div class="update-item">
        <p><strong>July, 2024</strong><br>
        Presented at SIAM Conference on Computational Science and Engineering in Amsterdam
        </p>
    </div>
   
    <div class="update-item">
        <p><strong>June, 2024</strong><br>
        Achieved CrossFit Level 2 certification and started coaching at local gym
        </p>
    </div>
   
    <div class="update-item">
        <p><strong>May, 2024</strong><br>
        Collaborated with NASA on mesh optimization techniques for aerospace applications
        </p>
    </div>
   
    <div class="update-item">
        <p><strong>April, 2024</strong><br>
        Started weekly computational science blog series with focus on CFD best practices
        </p>
    </div>
   