

<figure class="image">
  <img src="/images/stable/generation_Marge_simpson_riding_a_velociraptor_in_heaven_in_the_movie_jurassic_park_4k_hd_1668601547_0.png" alt="Marge simpson riding a velociraptor in heaven, in the movie jurassic park, 4k hd" style="width:300px;height:300px;">
  <figcaption>Marge simpson riding a velociraptor in heaven, in the movie jurassic park, 4k hd</figcaption>
</figure>

<figure class="image">
  <img src="/images/stable/generation_A_sloth_with_grey_hair_planting_lush_foliage_in_a_tundra_in_the_movie_star_wars_hyperrealistic_1668638118_0.png" alt="A sloth with grey hair planting lush foliage in a tundra in the movie star wars hyperrealistic" style="width:300px;height:300px;">
  <figcaption>A sloth with grey hair planting lush foliage in a tundra in the movie star wars hyperrealistic</figcaption>
</figure>
