<body>
<h2 id="media_online">Starting with a Conversation</h2>
<p>Catch my interview on the IIT Hyderabad Alumni Association podcast, where I discuss my journey in computational science, career advice, and balancing life with triathlon training.</p>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/67EDyqeA04iTmis2ZT1hA5?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<body>