<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enduventure</title>
    <style>
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        max-width: 1200px;
    }
    .card {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 10px;
        padding: 20px;
        box-sizing: border-box;
    }
    .card.half-width {
        width: calc(50% - 40px);
    }
    .card.full-width {
        width: calc(100% - 40px);
    }
    .card h2 {
        color: #2c3e50;
    }
    .card ul {
        list-style: none;
        padding: 0;
    }
    .card ul li {
        margin: 5px 0;
    }
    .flags {
        font-size: 1.5em;
    }
    .races {
        width: 100%;
        max-width: 1200px;
        margin: 20px 0;
    }
    .races h2 {
        color: #2c3e50;
    }
    .race-table {
        font-size: 1.0em;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    table, th, td {
        border: 1px solid #ddd;
    }
    th, td {
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
    @media (max-width: 768px) {
        .card.half-width {
            width: calc(100% - 40px);
        }
    }
    </style>
</head>
<body>
    <h2>Enduventure</h2>
    <p>I'm on a mission to run a marathon on every continent. Yes, even Antarctica. Because penguins need cheering too! And one day, I aim to conquer an Ironman. After all, why be bad at one sport when you can be bad at three?</p>

    
    <div class="container">
        
        <div class="card half-width">
            <h2>Triathlon</h2>
            <ul>
                
                <li>🏊‍♂️ Middle Distance: 2</li>
                <li>🥇 Olympic: 4</li>
                <li>🏃‍♂️ Sprint: 2</li>
            </ul>
            <h3>Total Distances</h3>
            <ul>
                <li>🏊‍♀️ Swim: 11.25 km</li>
                                <li>🚴‍♀️ Bike: 360.00 km</li>
                <li>🏃‍♀️ Run: 91.00 km</li>
            </ul>
        </div>
        

        
        <div class="card half-width">
            <h2>Running</h2>
            <ul>
                
                <li>🏃🏽 Marathons: 8</li>
                <li>🎖️ Half Marathons: 7</li>
                <li>🏃‍♂️ 10k or Shorter Races: 21</li>
            </ul>
            <h3>Total Distance</h3>
            <ul>
                <li>🏃‍♂️ Running: 706.91 km</li>
            </ul>
        </div>
        
    </div>

    <div class="container">
        <div class="card full-width">
            <h2>🌏 Locations</h2>
            <ul>
                <li>🏙️ Cities: 21</li>
                
                <li>🇺🇳 Countries: 9 (🇦🇺 🇧🇪 🇧🇷 🇫🇷 🇩🇪 🇬🇷 🇭🇺 🇲🇦 🇳🇱)</li>
                
                <li>🌍 Continents: 4</li>
            </ul>
        </div>
    </div>

    <p>Fasten your shoelaces and adjust your goggles! It's not just about the finish line, but the adventure along the way.</p>

    
    <div class="races">
        <h2>Triathlon</h2>
        <table class="race-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Race</th>
                    <th>Location</th>
                    <th>Distances</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td>June, 2024</td>
                    <td><a href="https://www.vfl-muenster.de/morettriathlon/ausschreibung/" target="_blank"> 40. Moret Triathlon </a></td>
                    <td>Babenhausen, Germany</td>
                    <td>S: 2.0 km, B: 80.0 km, R: 21.0 km</td>
                </tr>
            
                <tr>
                    <td>August, 2023</td>
                    <td><a href="https://www.frankfurt-city-triathlon.de/" target="_blank"> Frankfurt City Triathlon 2023 </a></td>
                    <td>Frankfurt, Germany</td>
                    <td>S: 2.0 km, B: 80.0 km, R: 20.0 km</td>
                </tr>
            
                <tr>
                    <td>June, 2023</td>
                    <td><a href="https://www.heinerman.de/" target="_blank"> ENTEGA Heinermann </a></td>
                    <td>Darmstadt, Germany</td>
                    <td>S: 1.5 km, B: 40.0 km, R: 10.0 km</td>
                </tr>
            
                <tr>
                    <td>May, 2023</td>
                    <td><a href="https://www.tus-tria.de/index.php/2014-04-04-05-01-57/short-track-triathlon" target="_blank"> 15. Short-Track Triathlon </a></td>
                    <td>Stadt Griesheim, Germany</td>
                    <td>S: 0.5 km, B: 20.0 km, R: 5.0 km</td>
                </tr>
            
                <tr>
                    <td>September, 2018</td>
                    <td><a href="http://www.koelntriathlon.de/" target="_blank"> Cologne Triathlon </a></td>
                    <td>Cologne, Germany</td>
                    <td>S: 1.5 km, B: 40.0 km, R: 10.0 km</td>
                </tr>
            
                <tr>
                    <td>July, 2018</td>
                    <td><a href="https://www.ironman.com/5150-zurich" target="_blank"> 5150 Zurich Triathlon 2018 </a></td>
                    <td>Zurich, Switzerland</td>
                    <td>S: 1.5 km, B: 40.0 km, R: 10.0 km</td>
                </tr>
            
                <tr>
                    <td>May, 2018</td>
                    <td><a href="http://www.triathlonheerenveen.nl/" target="_blank"> Triathlon Heerenveen </a></td>
                    <td>Heerenveen, Netherlands</td>
                    <td>S: 1.5 km, B: 40.0 km, R: 10.0 km</td>
                </tr>
            
                <tr>
                    <td>June, 2017</td>
                    <td><a href="https://www.indeland-triathlon.de/" target="_blank"> 11. Indeland Triathlon </a></td>
                    <td>Aldenhoven, Germany</td>
                    <td>S: 0.75 km, B: 20.0 km, R: 5.0 km</td>
                </tr>
            
            </tbody>
        </table>
    </div>
    

    
    <div class="races">
        <h2>Running</h2>
        <table class="race-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Race</th>
                    <th>Location</th>
                    <th>Distance</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td>May, 2024</td>
                    <td><a href="http://darmstadt-firmenlauf.de/" target="_blank"> 11. Darmstaedter Merck-Firmenlauf </a></td>
                    <td>Darmstadt, Germany</td>
                    <td>10.0 km</td>
                </tr>
            
                <tr>
                    <td>April, 2024</td>
                    <td><a href="https://www.yescom.com.br/maratonasp/2024/ing/index.asp" target="_blank"> 28th Sao Paulo International Marathon </a></td>
                    <td>Sao Paulo, Brazil</td>
                    <td>42.2 km</td>
                </tr>
            
                <tr>
                    <td>February, 2024</td>
                    <td><a href="https://lg-mw.de/halbmarathon/" target="_blank"> Moerfelden-Walldorf 2024 </a></td>
                    <td>Morfelden-Walldorf, Germany</td>
                    <td>21.0 km</td>
                </tr>
            
                <tr>
                    <td>September, 2023</td>
                    <td><a href="https://sydneymarathon.com/" target="_blank"> Sydney marathon </a></td>
                    <td>Sydney, Australia</td>
                    <td>42.2 km</td>
                </tr>
            
                <tr>
                    <td>June, 2023</td>
                    <td><a href="https://www.b2run.de/run/de/de/muenchen/index.html" target="_blank"> B2Run Muenchen </a></td>
                    <td>Munich, Germany</td>
                    <td>5.6 km</td>
                </tr>
            
                <tr>
                    <td>June, 2023</td>
                    <td><a href="https://www.rhein-ruhr-marathon.de/" target="_blank"> 40 Rhein-Ruhr Marathon Duisburg </a></td>
                    <td>Duisburg, Germany</td>
                    <td>21.0 km</td>
                </tr>
            
                <tr>
                    <td>May, 2023</td>
                    <td><a href="http://darmstadt-firmenlauf.de/" target="_blank"> 10. Darmstaedter Merck-Firmenlauf </a></td>
                    <td>Darmstadt, Germany</td>
                    <td>10.0 km</td>
                </tr>
            
                <tr>
                    <td>February, 2023</td>
                    <td><a href="https://lg-mw.de/halbmarathon/" target="_blank"> Moerfelden-Walldorf 2023 </a></td>
                    <td>Morfelden-Walldorf, Germany</td>
                    <td>21.0 km</td>
                </tr>
            
                <tr>
                    <td>July, 2022</td>
                    <td><a href="http://darmstadt-firmenlauf.de/" target="_blank"> 9. Darmstaedter Merck-Firmenlauf </a></td>
                    <td>Darmstadt, Germany</td>
                    <td>6.6 km</td>
                </tr>
            
                <tr>
                    <td>March, 2022</td>
                    <td><a href="https://www.basteilauf.de/" target="_blank"> Bastei Lauf </a></td>
                    <td>Cologne, Germany</td>
                    <td>10.0 km</td>
                </tr>
            
                <tr>
                    <td>September, 2019</td>
                    <td><a href="https://www.bmw-berlin-marathon.com/en/" target="_blank"> 2019 BMW Berlin Marathon </a></td>
                    <td>Berlin, Germany</td>
                    <td>42.2 km</td>
                </tr>
            
                <tr>
                    <td>April, 2019</td>
                    <td><a href="https://www.schneiderelectricparismarathon.com/en/" target="_blank"> Schneider Electric Marathon de Paris </a></td>
                    <td>Paris, France</td>
                    <td>42.2 km</td>
                </tr>
            
                <tr>
                    <td>January, 2019</td>
                    <td><a href="https://marrakechmarathon.com/" target="_blank"> Marrakech Marathon </a></td>
                    <td>Marrakech, Morocco</td>
                    <td>42.2 km</td>
                </tr>
            
                <tr>
                    <td>November, 2018</td>
                    <td><a href="https://www.athensauthenticmarathon.gr/site/index.php/en/" target="_blank"> Athens Authentic Marathon 2018 </a></td>
                    <td>Athens, Greece</td>
                    <td>42.2 km</td>
                </tr>
            
                <tr>
                    <td>October, 2018</td>
                    <td><a href="https://www.tcsamsterdammarathon.nl/" target="_blank"> TCS Amsterdam Marathon </a></td>
                    <td>Amsterdam, Netherlands</td>
                    <td>42.2 km</td>
                </tr>
            
                <tr>
                    <td>May, 2018</td>
                    <td><a href="https://www.traildescisterciens.be/" target="_blank"> Trail des Cisterciens </a></td>
                    <td>La Roche (Brabant), Belgium</td>
                    <td>20.4 km</td>
                </tr>
            
                <tr>
                    <td>March, 2018</td>
                    <td><a href="https://www.passionforsports.eu/nl-northctrail?count=1" target="_blank"> North C Trail </a></td>
                    <td>Koksijde, Belgium</td>
                    <td>13.0 km</td>
                </tr>
            
                <tr>
                    <td>December, 2017</td>
                    <td><a href="https://silvesterlauf.dlc-aachen.de/silvesterlauf" target="_blank"> 40. Aachener Sylvesterlauf </a></td>
                    <td>Aachen, Germany</td>
                    <td>10.0 km</td>
                </tr>
            
                <tr>
                    <td>July, 2017</td>
                    <td><a href="https://hochschulsport.rwth-aachen.de/cms/HSZ/Events/~kjqs/Lousberglauf/" target="_blank"> Lousberglauf 2017 </a></td>
                    <td>Aachen, Germany</td>
                    <td>5.555 km</td>
                </tr>
            
                <tr>
                    <td>July, 2017</td>
                    <td><a href="https://www.sportscheck.com/stadtlauf-historie/stadtlauf-historie-aachen/" target="_blank"> Nachtlauf Aachen 2017 </a></td>
                    <td>Aachen, Germany</td>
                    <td>10.0 km</td>
                </tr>
            
                <tr>
                    <td>June, 2017</td>
                    <td><a href="https://hochschulsport.rwth-aachen.de/cms/HSZ/Events/~lrnw/1-RWTH-Campuslauf/" target="_blank"> RWTH Campuslauf 2017 </a></td>
                    <td>Aachen, Germany</td>
                    <td>9.0 km</td>
                </tr>
            
                <tr>
                    <td>December, 2016</td>
                    <td><a href="https://www.atg-aachen.de/winterlauf" target="_blank"> 54 Winterlauf </a></td>
                    <td>Aachen, Germany</td>
                    <td>18.0 km</td>
                </tr>
            
                <tr>
                    <td>September, 2016</td>
                    <td><a href="https://www.aachener-firmenlauf.de/" target="_blank"> 4 Aachener Firmenlauf </a></td>
                    <td>Aachen, Germany</td>
                    <td>10.0 km</td>
                </tr>
            
                <tr>
                    <td>September, 2016</td>
                    <td><a href="https://halfmarathon.runinbudapest.com/" target="_blank"> 31  Wizz Air Budapest Half Marathon </a></td>
                    <td>Budapest, Hungary</td>
                    <td>21.0 km</td>
                </tr>
            
                <tr>
                    <td>June, 2016</td>
                    <td><a href="https://www.ahotu.com/event/midzomernachtrun-gent" target="_blank"> Midzomernachtrun Ghent </a></td>
                    <td>Ghent, Belgium</td>
                    <td>16.0 km</td>
                </tr>
            
                <tr>
                    <td>March, 2016</td>
                    <td><a href="https://koenigsforst-marathon.de/" target="_blank"> RUN GREEN - 42. Koenigsforst Marathon </a></td>
                    <td>Bergisch Gladbach, Germany</td>
                    <td>21.0 km</td>
                </tr>
            
                <tr>
                    <td>December, 2015</td>
                    <td><a href="https://silvesterlauf.dlc-aachen.de/silvesterlauf" target="_blank"> 38. Aachener Sylvesterlauf </a></td>
                    <td>Aachen, Germany</td>
                    <td>10.0 km</td>
                </tr>
            
                <tr>
                    <td>December, 2015</td>
                    <td><a href="https://www.atg-aachen.de/winterlauf" target="_blank"> 53 Winterlauf </a></td>
                    <td>Aachen, Germany</td>
                    <td>18.0 km</td>
                </tr>
            
                <tr>
                    <td>September, 2015</td>
                    <td><a href="https://www.diekoemeile.de/" target="_blank"> Duesseldorf Koe Lauf </a></td>
                    <td>Dusseldorf, Germany</td>
                    <td>10.0 km</td>
                </tr>
            
                <tr>
                    <td>August, 2015</td>
                    <td><a href="https://monschau-marathon.de/" target="_blank"> Monschau Marathon 2015 </a></td>
                    <td>Monschau, Germany</td>
                    <td>42.2 km</td>
                </tr>
            
                <tr>
                    <td>July, 2015</td>
                    <td><a href="https://www.sportscheck.com/stadtlauf-historie/stadtlauf-historie-aachen/" target="_blank"> Sportscheck Nachtlauf Aachen </a></td>
                    <td>Aachen, Germany</td>
                    <td>10.0 km</td>
                </tr>
            
                <tr>
                    <td>July, 2015</td>
                    <td><a href="https://hochschulsport.rwth-aachen.de/cms/HSZ/Events/~kjqs/Lousberglauf/" target="_blank"> Lousberglauf 2015 </a></td>
                    <td>Aachen, Germany</td>
                    <td>5.555 km</td>
                </tr>
            
                <tr>
                    <td>March, 2015</td>
                    <td><a href="https://koenigsforst-marathon.de/" target="_blank"> RUN GREEN - 41. Koenigsforst Marathon </a></td>
                    <td>Bergisch Gladbach, Germany</td>
                    <td>21.0 km</td>
                </tr>
            
                <tr>
                    <td>December, 2014</td>
                    <td><a href="https://silvesterlauf.dlc-aachen.de/silvesterlauf" target="_blank"> 37. Aachener Sylvesterlauf </a></td>
                    <td>Aachen, Germany</td>
                    <td>10.0 km</td>
                </tr>
            
                <tr>
                    <td>November, 2014</td>
                    <td><a href="https://www.atvgeilenkirchen.de/index.php/me-cross" target="_blank"> 9. Geilenkirchener Crosslauf </a></td>
                    <td>Geilenkirchen, Germany</td>
                    <td>4.6 km</td>
                </tr>
            
                <tr>
                    <td>October, 2014</td>
                    <td><a href="https://www.runnersworld.de/laufkalender/gillrathervolkslaufundhalbmarathon/" target="_blank"> 36. Gillrather Volkslauf </a></td>
                    <td>Geilenkirchen, Germany</td>
                    <td>21.0 km</td>
                </tr>
            
            </tbody>
        </table>
    </div>
    
    
</body>