<link rel="stylesheet" href="/assets/css/updates.css">
<div class="recent-updates-container">
    
    <div class="update-item">
        <div class="update-date">October, 2025</div>
        <div class="update-text">Published technical blog on <a href="/publication/2022-(HckPrj)-Enhancing-Genomic-Foundation-Model-Robustness-through-Iterative-Black-Box-Adversarial-Training" target="_blank">improving robustness of genomic foundation models</a></div>
    </div>
   
    <div class="update-item">
        <div class="update-date">October, 2025</div>
        <div class="update-text">Gave a talk on the importance of simulation in the world of AI at  <a href="https://www.frankfurt-school.de/home" target="_blank">Frankfurt School of Finance and Management</a></div>
    </div>
   
    <div class="update-item">
        <div class="update-date">September, 2025</div>
        <div class="update-text"><a href="https://sv3sathlon.de/" target="_blank">Relay triathlon in Traisa</a></div>
    </div>
   
    <div class="update-item">
        <div class="update-date">July, 2025</div>
        <div class="update-text">Shared project on <a href="/publication/2022-(HckPrj)-Sequential-Cascaded-Hamiltonian-Neural-Networks" target="_blank">Sequential Cascaded Hamiltonian Neural Networks</a> at Apart Research</div>
    </div>
   
    <div class="update-item">
        <div class="update-date">July, 2025</div>
        <div class="update-text">Published blog on <a href="/publication/2022-(HckPrj)-Layerwise-Development-of-Compositional-Functional-Representations-Across-Architectures" target="_blank">Layerwise Function Representation and model interpretability</a></div>
    </div>
   
   
   <div class="update-item">
       <div class="update-date"></div>
       <div class="update-text"><a href="/updates/">View all updates →</a></div>
   </div>
</div>