<link rel="stylesheet" href="/assets/css/updates.css">
<div class="recent-updates-container">
    
    <div class="update-item">
        <p><strong>October, 2025</strong><br>
        Published technical blog on <a href="/publication/2022-(HckPrj)-Enhancing-Genomic-Foundation-Model-Robustness-through-Iterative-Black-Box-Adversarial-Training" target="_blank">improving robustness of genomic foundation models</a>
        </p>
    </div>
   
    <div class="update-item">
        <p><strong>September, 2025</strong><br>
        Relay triathlon in Traisa
        </p>
    </div>
   
    <div class="update-item">
        <p><strong>July, 2025</strong><br>
        Shared project on <a href="/publication/2022-(HckPrj)-Sequential-Cascaded-Hamiltonian-Neural-Networks" target="_blank">Sequential Cascaded Hamiltonian Neural Networks</a> at Apart Research
        </p>
    </div>
   
    <div class="update-item">
        <p><strong>July, 2025</strong><br>
        Published blog on <a href="/publication/2022-(HckPrj)-Layerwise-Development-of-Compositional-Functional-Representations-Across-Architectures" target="_blank">Layerwise Function Representation and model interpretability</a>
        </p>
    </div>
   
    <div class="update-item">
        <p><strong>June, 2025</strong><br>
        Reflected on <a href="/posts/2025/06/introvert_travel/" target="_blank">traveling slowly and quietly across countries</a>
        </p>
    </div>
   
   
   <div class="update-item">
       <p><a href="/updates/">View all updates →</a></p>
   </div>
</div>