<link rel="stylesheet" href="/assets/css/updates.css">
<div class="recent-updates-container">
    
    <div class="update-item">
        <div class="update-date">May, 2026</div>
        <div class="update-text">From May 2026: Co-supervising Jeyashree Krishnan as incoming SAIGE mentor (LLM manipulation) with Jason Hoelscher-Obermaier.</div>
    </div>
   
    <div class="update-item">
        <div class="update-date">May, 2026</div>
        <div class="update-text">Plenary talk on Adversarial genomics at <a href="https://cyberbio26.ieee-security.org/" target="_blank">The First International Workshop on Cyberbiosecurity</a> co hosted with 2026 47th IEEE Symposium on Security and Privacy. Won the best paper runner-up!</div>
    </div>
   
    <div class="update-item">
        <div class="update-date">May, 2026</div>
        <div class="update-text">Submitted <a href="https://arxiv.org/pdf/2605.08889" target="_blank">preprint</a> to arXiv on ML communication norms</div>
    </div>
   
    <div class="update-item">
        <div class="update-date">May, 2026</div>
        <div class="update-text">Presented poster on adversarial genomics at <a href="https://tais2026.cc/" target="_blank">Technical AI Safety Conference (TAIS) 2026</a> in Oxford</div>
    </div>
   
    <div class="update-item">
        <div class="update-date">April, 2026</div>
        <div class="update-text"><a href="https://2026.pycon.de/" target="_blank">PyCon DE & PyData</a> (Darmstadt): Surviving AI Fatigue, co-presented with Jeyashree Krishnan.</div>
    </div>
   
   
   <div class="update-item">
       <div class="update-date"></div>
       <div class="update-text"><a href="/updates/">View all updates →</a></div>
   </div>
</div>