<div class="talks-container" id="talks-top">
    
    <div class="talks-nav">
        <span class="talks-nav-label">Jump to year</span>
        <div class="talks-nav-links">
            
                <a class="talks-nav-link" href="#talks-2026">2026</a>
            
                <a class="talks-nav-link" href="#talks-2025">2025</a>
            
                <a class="talks-nav-link" href="#talks-2021">2021</a>
            
                <a class="talks-nav-link" href="#talks-2019">2019</a>
            
                <a class="talks-nav-link" href="#talks-2018">2018</a>
            
                <a class="talks-nav-link" href="#talks-2017">2017</a>
            
                <a class="talks-nav-link" href="#talks-2016">2016</a>
            
                <a class="talks-nav-link" href="#talks-2013">2013</a>
            
        </div>
    </div>
    

    
        <section class="talk-year-section" id="talks-2026">
            <div class="talk-year-header">
                <h3 class="talk-year-title">2026</h3>
            </div>

            <ul class="talks-list">
                
                <li class="talk-item">
                    <div class="talk-title">
                        
                            <a class="talk-title-link" href="https://www.mbd.rwth-aachen.de/cms/mbd/~qaneq/der-lehrstuhl/?lidx=1" target="_blank" rel="noopener noreferrer">Computational Science Across Academia and Industry: Perspectives from simulation research and software development</a>
                        
                    </div>

                    <div class="talk-details">
                        
                            <span class="detail-item">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                January 2026
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-university" aria-hidden="true"></i>
                                MBD Colloquium, Chair of Methods for Model-based Development in Computational Engineering, RWTH Aachen University
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                
                                    Aachen, Germany
                                
                            </span>
                        
                    </div>
                </li>
                
                <li class="talk-item">
                    <div class="talk-title">
                        
                            <a class="talk-title-link" href="https://pretalx.com/pyconde-pydata-2026/talk/GATMPP/" target="_blank" rel="noopener noreferrer">Surviving AI Fatigue: Staying Sane and Relevant in a Fast Moving Field</a>
                        
                    </div>

                    <div class="talk-details">
                        
                            <span class="detail-item">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                April 2026
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-university" aria-hidden="true"></i>
                                PyCon DE & PyData 2026; with Jeyashree Krishnan · <a href="https://vimeo.com/1183331265/b77d17d541" target="_blank" rel="noopener noreferrer">Video</a>
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                
                                    Darmstadt, Germany
                                
                            </span>
                        
                    </div>
                </li>
                
            </ul>
        </section>
    
        <section class="talk-year-section" id="talks-2025">
            <div class="talk-year-header">
                <h3 class="talk-year-title">2025</h3>
            </div>

            <ul class="talks-list">
                
                <li class="talk-item">
                    <div class="talk-title">
                        
                            <a class="talk-title-link" href="https://www.frankfurt-school.de/home" target="_blank" rel="noopener noreferrer">The Importance of Simulation in the World of AI</a>
                        
                    </div>

                    <div class="talk-details">
                        
                            <span class="detail-item">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                October 2025
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-university" aria-hidden="true"></i>
                                Frankfurt School of Finance and Management
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                
                                    Frankfurt, Germany
                                
                            </span>
                        
                    </div>
                </li>
                
            </ul>
        </section>
    
        <section class="talk-year-section" id="talks-2021">
            <div class="talk-year-header">
                <h3 class="talk-year-title">2021</h3>
            </div>

            <ul class="talks-list">
                
                <li class="talk-item">
                    <div class="talk-title">
                        
                            <span class="talk-title-text">Parameter Reduction for Efficient Sensor Selection in Linear Bayesian Inverse Problems</span>
                        
                    </div>

                    <div class="talk-details">
                        
                            <span class="detail-item">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                June 2021
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-university" aria-hidden="true"></i>
                                4th International Conference on Uncertainty Quantification in Computational Sciences and Engineering
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                
                                    (Virtual) Athens, Greece
                                
                            </span>
                        
                    </div>
                </li>
                
            </ul>
        </section>
    
        <section class="talk-year-section" id="talks-2019">
            <div class="talk-year-header">
                <h3 class="talk-year-title">2019</h3>
            </div>

            <ul class="talks-list">
                
                <li class="talk-item">
                    <div class="talk-title">
                        
                            <span class="talk-title-text">Metric Construction for Error Control of Finite Element Solutions</span>
                        
                    </div>

                    <div class="talk-details">
                        
                            <span class="detail-item">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                June 2019
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-university" aria-hidden="true"></i>
                                2019 AIAA SciTech Forum
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                
                                    Dallas, USA
                                
                            </span>
                        
                    </div>
                </li>
                
                <li class="talk-item">
                    <div class="talk-title">
                        
                            <span class="talk-title-text">A goal oriented optimization technique for tetrahedral grids using a continuous-mesh model</span>
                        
                    </div>

                    <div class="talk-details">
                        
                            <span class="detail-item">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                January 2019
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-university" aria-hidden="true"></i>
                                2019 AIAA SciTech Forum
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                
                                    San Diego, USA
                                
                            </span>
                        
                    </div>
                </li>
                
            </ul>
        </section>
    
        <section class="talk-year-section" id="talks-2018">
            <div class="talk-year-header">
                <h3 class="talk-year-title">2018</h3>
            </div>

            <ul class="talks-list">
                
                <li class="talk-item">
                    <div class="talk-title">
                        
                            <span class="talk-title-text">Metric-Based hp-Adaptation using a Continuous Mesh Model</span>
                        
                    </div>

                    <div class="talk-details">
                        
                            <span class="detail-item">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                November 2018
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-university" aria-hidden="true"></i>
                                IRTG Modern Inverse Problems (MIP) Kick-off
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                
                                    Aachen, Germany
                                
                            </span>
                        
                    </div>
                </li>
                
                <li class="talk-item">
                    <div class="talk-title">
                        
                            <span class="talk-title-text">Optimized hp Approximation Spaces for Goal-Oriented Adaptation</span>
                        
                    </div>

                    <div class="talk-details">
                        
                            <span class="detail-item">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                July 2018
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-university" aria-hidden="true"></i>
                                International Conference On Spectral and High Order Methods (ICOSAHOM) 2018
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                
                                    London, United Kingdom
                                
                            </span>
                        
                    </div>
                </li>
                
                <li class="talk-item">
                    <div class="talk-title">
                        
                            <span class="talk-title-text">A fully adaptive HDG computational framework for convection-diffusion systems</span>
                        
                    </div>

                    <div class="talk-details">
                        
                            <span class="detail-item">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                July 2018
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-university" aria-hidden="true"></i>
                                International Conference On Spectral and High Order Methods (ICOSAHOM) 2018
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                
                                    London, United Kingdom
                                
                            </span>
                        
                    </div>
                </li>
                
                <li class="talk-item">
                    <div class="talk-title">
                        
                            <span class="talk-title-text">A Continuous Mesh Model for Goal-Oriented hp-Adaptation</span>
                        
                    </div>

                    <div class="talk-details">
                        
                            <span class="detail-item">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                July 2018
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-university" aria-hidden="true"></i>
                                7th European Conference on Computational Fluid Dynamics (ECOMASS)
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                
                                    Glasgow, United Kingdom
                                
                            </span>
                        
                    </div>
                </li>
                
                <li class="talk-item">
                    <div class="talk-title">
                        
                            <span class="talk-title-text">Anisotropic Goal-oriented Error Estimates for HDG Schemes</span>
                        
                    </div>

                    <div class="talk-details">
                        
                            <span class="detail-item">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                June 2018
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-university" aria-hidden="true"></i>
                                6th European Seminar on Computing
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                
                                    Pilzen, Czech Republic
                                
                            </span>
                        
                    </div>
                </li>
                
                <li class="talk-item">
                    <div class="talk-title">
                        
                            <span class="talk-title-text">A continuous-mesh optimization technique for piecewise polynomial approximation on tetrahedral grids</span>
                        
                    </div>

                    <div class="talk-details">
                        
                            <span class="detail-item">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                June 2018
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-university" aria-hidden="true"></i>
                                AIAA Aviation 2018
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                
                                    Atlanta, USA
                                
                            </span>
                        
                    </div>
                </li>
                
            </ul>
        </section>
    
        <section class="talk-year-section" id="talks-2017">
            <div class="talk-year-header">
                <h3 class="talk-year-title">2017</h3>
            </div>

            <ul class="talks-list">
                
                <li class="talk-item">
                    <div class="talk-title">
                        
                            <span class="talk-title-text">Hybridized DG schemes on near optimal meshes</span>
                        
                    </div>

                    <div class="talk-details">
                        
                            <span class="detail-item">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                December 2017
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-university" aria-hidden="true"></i>
                                Seminar of Numerical Mathematics, Department of Numerical Mathematics, Charles University
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                
                                    Prague, Czech Republic
                                
                            </span>
                        
                    </div>
                </li>
                
                <li class="talk-item">
                    <div class="talk-title">
                        
                            <span class="talk-title-text">A Continuous Mesh Model for Goal-Oriented hp-Adaptation</span>
                        
                    </div>

                    <div class="talk-details">
                        
                            <span class="detail-item">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                July 2017
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-university" aria-hidden="true"></i>
                                14th U.S. National Congress on Computational Mechanics
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                
                                    Montreal, Canada
                                
                            </span>
                        
                    </div>
                </li>
                
                <li class="talk-item">
                    <div class="talk-title">
                        
                            <span class="talk-title-text">Analytic Metric-Based Adaptation Using a Continuous Mesh Model</span>
                        
                    </div>

                    <div class="talk-details">
                        
                            <span class="detail-item">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                June 2017
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-university" aria-hidden="true"></i>
                                FEniCS 17
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                
                                    Luxembourg City, Luxembourg
                                
                            </span>
                        
                    </div>
                </li>
                
                <li class="talk-item">
                    <div class="talk-title">
                        
                            <span class="talk-title-text">Adjoint-based anisotropic mesh adaptation for Discontinuous Galerkin Methods Using a Continuous Mesh Model</span>
                        
                    </div>

                    <div class="talk-details">
                        
                            <span class="detail-item">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                June 2017
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-university" aria-hidden="true"></i>
                                AIAA Aviation 2017
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                
                                    Denver, USA
                                
                            </span>
                        
                    </div>
                </li>
                
                <li class="talk-item">
                    <div class="talk-title">
                        
                            <span class="talk-title-text">Metric-Based hp-adaptation using a continuous mesh model</span>
                        
                    </div>

                    <div class="talk-details">
                        
                            <span class="detail-item">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                February 2017
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-university" aria-hidden="true"></i>
                                2017 SIAM Conference on Computational Science and Engineering
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                
                                    Atlanta, USA
                                
                            </span>
                        
                    </div>
                </li>
                
            </ul>
        </section>
    
        <section class="talk-year-section" id="talks-2016">
            <div class="talk-year-header">
                <h3 class="talk-year-title">2016</h3>
            </div>

            <ul class="talks-list">
                
                <li class="talk-item">
                    <div class="talk-title">
                        
                            <span class="talk-title-text">Adaptive HDG Schemes on Near-Optimal Meshes</span>
                        
                    </div>

                    <div class="talk-details">
                        
                            <span class="detail-item">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                July 2016
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-university" aria-hidden="true"></i>
                                2016 SIAM Annual meeting
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                
                                    Boston, USA
                                
                            </span>
                        
                    </div>
                </li>
                
                <li class="talk-item">
                    <div class="talk-title">
                        
                            <span class="talk-title-text">Analytic Mesh Optimization for Discontinuous Galerkin Methods Using a Continuous Mesh Model</span>
                        
                    </div>

                    <div class="talk-details">
                        
                            <span class="detail-item">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                June 2016
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-university" aria-hidden="true"></i>
                                5th European Seminar on Computing
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                
                                    Pilzen, Czech Republic
                                
                            </span>
                        
                    </div>
                </li>
                
                <li class="talk-item">
                    <div class="talk-title">
                        
                            <span class="talk-title-text">Mesh adaptation and optimization for discontinuous galerkin methods using a continuous mesh model</span>
                        
                    </div>

                    <div class="talk-details">
                        
                            <span class="detail-item">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                January 2016
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-university" aria-hidden="true"></i>
                                AIAA SciTech Forum and Exposition
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                
                                    San Diego, USA
                                
                            </span>
                        
                    </div>
                </li>
                
            </ul>
        </section>
    
        <section class="talk-year-section" id="talks-2013">
            <div class="talk-year-header">
                <h3 class="talk-year-title">2013</h3>
            </div>

            <ul class="talks-list">
                
                <li class="talk-item">
                    <div class="talk-title">
                        
                            <span class="talk-title-text">Numerical investigation of the effect of bed height and coefficient of restitution on the minimum fluidization velocity of a cylindrical fluidized bed</span>
                        
                    </div>

                    <div class="talk-details">
                        
                            <span class="detail-item">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                May 2013
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-university" aria-hidden="true"></i>
                                8th International conference on multiphase flow (ICMF 2013)
                            </span>
                        

                        
                            <span class="detail-item">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                
                                    Jeju, Korea
                                
                            </span>
                        
                    </div>
                </li>
                
            </ul>
        </section>
    
</div>

<style>
.talks-container {
    margin-top: 1rem;
}

.talks-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 0.75rem;
    margin-bottom: 1.25rem;
    padding: 0.75rem 1rem;
    border: 1px solid #eee;
    border-radius: 10px;
    background: #fafafa;
}

.talks-nav-label {
    font-weight: 600;
    color: #444;
}

.talks-nav-links {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.talks-nav-link {
    display: inline-block;
    padding: 0.15rem 0.5rem;
    border-radius: 999px;
    text-decoration: none;
    color: #007acc;
    background: #eef7ff;
    border: 1px solid #d6ecff;
    font-size: 0.95em;
}

.talks-nav-link:hover {
    text-decoration: underline;
}

.talk-year-section {
    scroll-margin-top: 90px;
    margin-bottom: 2rem;
}

.talk-year-header {
    margin-bottom: 0.75rem;
}

.talk-year-title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: #333;
}

.talks-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.talk-item {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #eee;
}

.talk-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.talk-title {
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 1.15rem;
    line-height: 1.35;
    color: #333;
}

.talk-title-link {
    color: inherit;
    text-decoration: none;
}

.talk-title-link:hover {
    color: #007acc;
    text-decoration: underline;
}

.talk-details {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    color: #666;
    font-size: 0.9em;
}

.detail-item {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.detail-item i {
    color: #999;
    width: 14px;
    text-align: center;
}

@media (max-width: 768px) {
    .talk-details {
        flex-direction: column;
        gap: 0.5rem;
    }
}
</style>