<div class="talks-container">
    <h2>Talks and Presentations</h2>
    
    
    <div class="year-section">
        <h3 class="year-header">2021</h3>
        <ul class="talks-list">
            
            <li class="talk-item">
                <strong>
                    
                        Parameter Reduction for Efficient Sensor Selection in Linear Bayesian Inverse Problems
                    
                </strong>
                
                
                    <br>
                    <span class="location">
                        
                            (Virtual) Athens, Greece
                        
                    </span>
                
                
                    <br>
                    <span class="date">June 2021</span>
                
                
                    <br>
                    <span class="type"><em>Talk</em></span>
                
            </li>
            
        </ul>
    </div>
    
    <div class="year-section">
        <h3 class="year-header">2019</h3>
        <ul class="talks-list">
            
            <li class="talk-item">
                <strong>
                    
                        Metric Construction for Error Control of Finite Element Solutions
                    
                </strong>
                
                
                    <br>
                    <span class="location">
                        
                            Dallas, USA
                        
                    </span>
                
                
                    <br>
                    <span class="date">June 2019</span>
                
                
                    <br>
                    <span class="type"><em>Talk</em></span>
                
            </li>
            
            <li class="talk-item">
                <strong>
                    
                        A goal oriented optimization technique for tetrahedral grids using a continuous-mesh model
                    
                </strong>
                
                
                    <br>
                    <span class="location">
                        
                            San Diego, USA
                        
                    </span>
                
                
                    <br>
                    <span class="date">January 2019</span>
                
                
                    <br>
                    <span class="type"><em>Talk</em></span>
                
            </li>
            
        </ul>
    </div>
    
    <div class="year-section">
        <h3 class="year-header">2018</h3>
        <ul class="talks-list">
            
            <li class="talk-item">
                <strong>
                    
                        Metric-Based hp-Adaptation using a Continuous Mesh Model
                    
                </strong>
                
                
                    <br>
                    <span class="location">
                        
                            Aachen, Germany
                        
                    </span>
                
                
                    <br>
                    <span class="date">November 2018</span>
                
                
                    <br>
                    <span class="type"><em>Talk</em></span>
                
            </li>
            
            <li class="talk-item">
                <strong>
                    
                        Optimized hp Approximation Spaces for Goal-Oriented Adaptation
                    
                </strong>
                
                
                    <br>
                    <span class="location">
                        
                            London, United Kingdom
                        
                    </span>
                
                
                    <br>
                    <span class="date">July 2018</span>
                
                
                    <br>
                    <span class="type"><em>Talk</em></span>
                
            </li>
            
            <li class="talk-item">
                <strong>
                    
                        A fully adaptive HDG computational framework for convection-diffusion systems
                    
                </strong>
                
                
                    <br>
                    <span class="location">
                        
                            London, United Kingdom
                        
                    </span>
                
                
                    <br>
                    <span class="date">July 2018</span>
                
                
                    <br>
                    <span class="type"><em>Talk</em></span>
                
            </li>
            
            <li class="talk-item">
                <strong>
                    
                        A Continuous Mesh Model for Goal-Oriented hp-Adaptation
                    
                </strong>
                
                
                    <br>
                    <span class="location">
                        
                            Glasgow, United Kingdom
                        
                    </span>
                
                
                    <br>
                    <span class="date">July 2018</span>
                
                
                    <br>
                    <span class="type"><em>Talk</em></span>
                
            </li>
            
            <li class="talk-item">
                <strong>
                    
                        Anisotropic Goal-oriented Error Estimates for HDG Schemes
                    
                </strong>
                
                
                    <br>
                    <span class="location">
                        
                            Pilzen, Czech Republic
                        
                    </span>
                
                
                    <br>
                    <span class="date">June 2018</span>
                
                
                    <br>
                    <span class="type"><em>Talk</em></span>
                
            </li>
            
            <li class="talk-item">
                <strong>
                    
                        A continuous-mesh optimization technique for piecewise polynomial approximation on tetrahedral grids
                    
                </strong>
                
                
                    <br>
                    <span class="location">
                        
                            Atlanta, USA
                        
                    </span>
                
                
                    <br>
                    <span class="date">June 2018</span>
                
                
                    <br>
                    <span class="type"><em>Talk</em></span>
                
            </li>
            
        </ul>
    </div>
    
    <div class="year-section">
        <h3 class="year-header">2017</h3>
        <ul class="talks-list">
            
            <li class="talk-item">
                <strong>
                    
                        Hybridized DG schemes on near optimal meshes
                    
                </strong>
                
                
                    <br>
                    <span class="location">
                        
                            Prague, Czech Republic
                        
                    </span>
                
                
                    <br>
                    <span class="date">December 2017</span>
                
                
                    <br>
                    <span class="type"><em>Talk</em></span>
                
            </li>
            
            <li class="talk-item">
                <strong>
                    
                        A Continuous Mesh Model for Goal-Oriented hp-Adaptation
                    
                </strong>
                
                
                    <br>
                    <span class="location">
                        
                            Montreal, Canada
                        
                    </span>
                
                
                    <br>
                    <span class="date">July 2017</span>
                
                
                    <br>
                    <span class="type"><em>Talk</em></span>
                
            </li>
            
            <li class="talk-item">
                <strong>
                    
                        Analytic Metric-Based Adaptation Using a Continuous Mesh Model
                    
                </strong>
                
                
                    <br>
                    <span class="location">
                        
                            Luxembourg City, Luxembourg
                        
                    </span>
                
                
                    <br>
                    <span class="date">June 2017</span>
                
                
                    <br>
                    <span class="type"><em>Talk</em></span>
                
            </li>
            
            <li class="talk-item">
                <strong>
                    
                        Adjoint-based anisotropic mesh adaptation for Discontinuous Galerkin Methods Using a Continuous Mesh Model
                    
                </strong>
                
                
                    <br>
                    <span class="location">
                        
                            Denver, USA
                        
                    </span>
                
                
                    <br>
                    <span class="date">June 2017</span>
                
                
                    <br>
                    <span class="type"><em>Talk</em></span>
                
            </li>
            
        </ul>
    </div>
    
    <div class="year-section">
        <h3 class="year-header">2016</h3>
        <ul class="talks-list">
            
            <li class="talk-item">
                <strong>
                    
                        Adaptive HDG Schemes on Near-Optimal Meshes
                    
                </strong>
                
                
                    <br>
                    <span class="location">
                        
                            Boston, USA
                        
                    </span>
                
                
                    <br>
                    <span class="date">July 2016</span>
                
                
                    <br>
                    <span class="type"><em>Talk</em></span>
                
            </li>
            
            <li class="talk-item">
                <strong>
                    
                        Analytic Mesh Optimization for Discontinuous Galerkin Methods Using a Continuous Mesh Model
                    
                </strong>
                
                
                    <br>
                    <span class="location">
                        
                            Pilzen, Czech Republic
                        
                    </span>
                
                
                    <br>
                    <span class="date">June 2016</span>
                
                
                    <br>
                    <span class="type"><em>Talk</em></span>
                
            </li>
            
            <li class="talk-item">
                <strong>
                    
                        Metric-Based hp-adaptation using a continuous mesh model
                    
                </strong>
                
                
                    <br>
                    <span class="location">
                        
                            Atlanta, USA
                        
                    </span>
                
                
                    <br>
                    <span class="date">February 2016</span>
                
                
                    <br>
                    <span class="type"><em>Talk</em></span>
                
            </li>
            
            <li class="talk-item">
                <strong>
                    
                        Mesh adaptation and optimization for discontinuous galerkin methods using a continuous mesh model
                    
                </strong>
                
                
                    <br>
                    <span class="location">
                        
                            San Diego, USA
                        
                    </span>
                
                
                    <br>
                    <span class="date">January 2016</span>
                
                
                    <br>
                    <span class="type"><em>Talk</em></span>
                
            </li>
            
        </ul>
    </div>
    
    <div class="year-section">
        <h3 class="year-header">2013</h3>
        <ul class="talks-list">
            
            <li class="talk-item">
                <strong>
                    
                        Numerical investigation of the effect of bed height and coefficient of restitution on the minimum fluidization velocity of a cylindrical fluidized bed
                    
                </strong>
                
                
                    <br>
                    <span class="location">
                        
                            Jeju, Korea
                        
                    </span>
                
                
                    <br>
                    <span class="date">May 2013</span>
                
                
                    <br>
                    <span class="type"><em>Talk</em></span>
                
            </li>
            
        </ul>
    </div>
    
</div>

<style>
.talks-container {
    margin-top: 2rem;
}

.talks-container h2 {
    margin-bottom: 1.5rem;
    color: #333;
    border-bottom: 2px solid #007acc;
    padding-bottom: 0.5rem;
}

.year-section {
    margin-bottom: 2rem;
}

.year-header {
    background-color: #f5f5f5;
    padding: 0.75rem 1rem;
    margin: 0 0 1rem 0;
    border-radius: 5px;
    color: #333;
    font-size: 1.2em;
    border-left: 4px solid #007acc;
}

.talks-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.talk-item {
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color: #fafafa;
    border-radius: 5px;
    border-left: 3px solid #007acc;
    line-height: 1.6;
}

.talk-item strong {
    color: #333;
    font-size: 1.1em;
}

.talk-item a {
    color: #007acc;
    text-decoration: none;
}

.talk-item a:hover {
    text-decoration: underline;
}

.venue {
    color: #007acc;
    font-size: 0.95em;
}

.location {
    color: #666;
    font-size: 0.95em;
}

.date {
    color: #888;
    font-size: 0.9em;
}

.type {
    color: #555;
    font-size: 0.9em;
}

@media (max-width: 768px) {
    .talk-item {
        padding: 0.75rem;
    }
    
    .year-header {
        padding: 0.5rem 0.75rem;
        font-size: 1.1em;
    }
}
</style>