<div class="talks-container">
    <ul class="talks-list">
        
            
            <li class="talk-item">
                <div class="talk-title">
                    
                        Parameter Reduction for Efficient Sensor Selection in Linear Bayesian Inverse Problems
                    
                </div>
                
                <div class="talk-details">
                    
                        <span class="detail-item">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            June 2021
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-university" aria-hidden="true"></i>
                            4th International Conference on Uncertainty Quantification in Computational Sciences and Engineering
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            
                                (Virtual) Athens, Greece
                            
                        </span>
                    
                </div>
            </li>
            
        
            
            <li class="talk-item">
                <div class="talk-title">
                    
                        Metric Construction for Error Control of Finite Element Solutions
                    
                </div>
                
                <div class="talk-details">
                    
                        <span class="detail-item">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            June 2019
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-university" aria-hidden="true"></i>
                            2019 AIAA SciTech Forum
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            
                                Dallas, USA
                            
                        </span>
                    
                </div>
            </li>
            
            <li class="talk-item">
                <div class="talk-title">
                    
                        A goal oriented optimization technique for tetrahedral grids using a continuous-mesh model
                    
                </div>
                
                <div class="talk-details">
                    
                        <span class="detail-item">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            January 2019
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-university" aria-hidden="true"></i>
                            2019 AIAA SciTech Forum
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            
                                San Diego, USA
                            
                        </span>
                    
                </div>
            </li>
            
        
            
            <li class="talk-item">
                <div class="talk-title">
                    
                        Metric-Based hp-Adaptation using a Continuous Mesh Model
                    
                </div>
                
                <div class="talk-details">
                    
                        <span class="detail-item">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            November 2018
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-university" aria-hidden="true"></i>
                            IRTG Modern Inverse Problems (MIP) Kick-off
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            
                                Aachen, Germany
                            
                        </span>
                    
                </div>
            </li>
            
            <li class="talk-item">
                <div class="talk-title">
                    
                        Optimized hp Approximation Spaces for Goal-Oriented Adaptation
                    
                </div>
                
                <div class="talk-details">
                    
                        <span class="detail-item">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            July 2018
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-university" aria-hidden="true"></i>
                            International Conference On Spectral and High Order Methods (ICOSAHOM) 2018
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            
                                London, United Kingdom
                            
                        </span>
                    
                </div>
            </li>
            
            <li class="talk-item">
                <div class="talk-title">
                    
                        A fully adaptive HDG computational framework for convection-diffusion systems
                    
                </div>
                
                <div class="talk-details">
                    
                        <span class="detail-item">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            July 2018
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-university" aria-hidden="true"></i>
                            International Conference On Spectral and High Order Methods (ICOSAHOM) 2018
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            
                                London, United Kingdom
                            
                        </span>
                    
                </div>
            </li>
            
            <li class="talk-item">
                <div class="talk-title">
                    
                        A Continuous Mesh Model for Goal-Oriented hp-Adaptation
                    
                </div>
                
                <div class="talk-details">
                    
                        <span class="detail-item">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            July 2018
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-university" aria-hidden="true"></i>
                            7th European Conference on Computational Fluid Dynamics (ECOMASS)
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            
                                Glasgow, United Kingdom
                            
                        </span>
                    
                </div>
            </li>
            
            <li class="talk-item">
                <div class="talk-title">
                    
                        Anisotropic Goal-oriented Error Estimates for HDG Schemes
                    
                </div>
                
                <div class="talk-details">
                    
                        <span class="detail-item">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            June 2018
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-university" aria-hidden="true"></i>
                            6th European Seminar on Computing
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            
                                Pilzen, Czech Republic
                            
                        </span>
                    
                </div>
            </li>
            
            <li class="talk-item">
                <div class="talk-title">
                    
                        A continuous-mesh optimization technique for piecewise polynomial approximation on tetrahedral grids
                    
                </div>
                
                <div class="talk-details">
                    
                        <span class="detail-item">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            June 2018
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-university" aria-hidden="true"></i>
                            AIAA Aviation 2018
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            
                                Atlanta, USA
                            
                        </span>
                    
                </div>
            </li>
            
        
            
            <li class="talk-item">
                <div class="talk-title">
                    
                        Hybridized DG schemes on near optimal meshes
                    
                </div>
                
                <div class="talk-details">
                    
                        <span class="detail-item">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            December 2017
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-university" aria-hidden="true"></i>
                            Seminar of Numerical Mathematics, Department of Numerical Mathematics, Charles University
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            
                                Prague, Czech Republic
                            
                        </span>
                    
                </div>
            </li>
            
            <li class="talk-item">
                <div class="talk-title">
                    
                        A Continuous Mesh Model for Goal-Oriented hp-Adaptation
                    
                </div>
                
                <div class="talk-details">
                    
                        <span class="detail-item">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            July 2017
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-university" aria-hidden="true"></i>
                            14th U.S. National Congress on Computational Mechanics
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            
                                Montreal, Canada
                            
                        </span>
                    
                </div>
            </li>
            
            <li class="talk-item">
                <div class="talk-title">
                    
                        Analytic Metric-Based Adaptation Using a Continuous Mesh Model
                    
                </div>
                
                <div class="talk-details">
                    
                        <span class="detail-item">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            June 2017
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-university" aria-hidden="true"></i>
                            FEniCS 17
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            
                                Luxembourg City, Luxembourg
                            
                        </span>
                    
                </div>
            </li>
            
            <li class="talk-item">
                <div class="talk-title">
                    
                        Adjoint-based anisotropic mesh adaptation for Discontinuous Galerkin Methods Using a Continuous Mesh Model
                    
                </div>
                
                <div class="talk-details">
                    
                        <span class="detail-item">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            June 2017
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-university" aria-hidden="true"></i>
                            AIAA Aviation 2017
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            
                                Denver, USA
                            
                        </span>
                    
                </div>
            </li>
            
        
            
            <li class="talk-item">
                <div class="talk-title">
                    
                        Adaptive HDG Schemes on Near-Optimal Meshes
                    
                </div>
                
                <div class="talk-details">
                    
                        <span class="detail-item">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            July 2016
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-university" aria-hidden="true"></i>
                            2016 SIAM Annual meeting
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            
                                Boston, USA
                            
                        </span>
                    
                </div>
            </li>
            
            <li class="talk-item">
                <div class="talk-title">
                    
                        Analytic Mesh Optimization for Discontinuous Galerkin Methods Using a Continuous Mesh Model
                    
                </div>
                
                <div class="talk-details">
                    
                        <span class="detail-item">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            June 2016
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-university" aria-hidden="true"></i>
                            5th European Seminar on Computing
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            
                                Pilzen, Czech Republic
                            
                        </span>
                    
                </div>
            </li>
            
            <li class="talk-item">
                <div class="talk-title">
                    
                        Metric-Based hp-adaptation using a continuous mesh model
                    
                </div>
                
                <div class="talk-details">
                    
                        <span class="detail-item">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            February 2016
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-university" aria-hidden="true"></i>
                            2017 SIAM Conference on Computational Science and Engineering
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            
                                Atlanta, USA
                            
                        </span>
                    
                </div>
            </li>
            
            <li class="talk-item">
                <div class="talk-title">
                    
                        Mesh adaptation and optimization for discontinuous galerkin methods using a continuous mesh model
                    
                </div>
                
                <div class="talk-details">
                    
                        <span class="detail-item">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            January 2016
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-university" aria-hidden="true"></i>
                            AIAA SciTech Forum and Exposition
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            
                                San Diego, USA
                            
                        </span>
                    
                </div>
            </li>
            
        
            
            <li class="talk-item">
                <div class="talk-title">
                    
                        Numerical investigation of the effect of bed height and coefficient of restitution on the minimum fluidization velocity of a cylindrical fluidized bed
                    
                </div>
                
                <div class="talk-details">
                    
                        <span class="detail-item">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            May 2013
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-university" aria-hidden="true"></i>
                            8th International conference on multiphase flow (ICMF 2013)
                        </span>
                    
                    
                    
                        <span class="detail-item">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            
                                Jeju, Korea
                            
                        </span>
                    
                </div>
            </li>
            
        
    </ul>
</div>

<style>
.talks-container {
    margin-top: 1rem;
}

.talks-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.talk-item {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #eee;
}

.talk-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.talk-title {
    margin-bottom: 0.5rem;
}

.talk-title a {
    color: #333;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3em;
}

.talk-title a:hover {
    color: #007acc;
    text-decoration: underline;
}

.talk-details {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    color: #666;
    font-size: 0.9em;
}

.detail-item {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.detail-item i {
    color: #999;
    width: 14px;
    text-align: center;
}

@media (max-width: 768px) {
    .talk-details {
        flex-direction: column;
        gap: 0.5rem;
    }
}
</style>